#content{
    /* Auto Layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    position: static;
    width: 1208px;
    height: 739px;
    left: 116px;
    top: 64px;


    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 10px 0px;
}
#bored_app_box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: static;
    width: 574px;
    height: 739px;
    left: 634px;
    top: 0px;


    /* Inside Auto Layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 46px;
}
#title_bored_box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 0px 40px;

    position: static;
    width: 574px;
    height: 698px;
    left: 0px;
    top: 0px;


    /* Inside Auto Layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 0px 0px;
}
#rectangle_box{
    position: static;
    width: 564px;
    height: 590px;
    left: 0px;
    top: 68px;

    background: #C4C4C4;

    /* Inside Auto Layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 10px 0px;
}
